<div *ngIf="data.length >= 1">
    <div class="pagination-list">
        <ul>
          <li class="prev" *ngIf="currentPage > 1"><a href="javascript:void(0)"><img src="/assets/images/arrow-prev-1.png" alt="" (click)="getList(currentPage-1)"></a></li>
          <li *ngFor="let item of data">
            <button type="button" class="btn btn-default btn-xs" [ngClass]="{'selected': item==currentPage }"  (click)="item!=currentPage && getList(item)">{{item}}</button>
          </li>
          <li class="next" *ngIf="currentPage < lastPage"><a href="javascript:void(0)"><img src="/assets/images/arrow-next-1.png" alt="" (click)="getList(currentPage+1)"></a></li>
        </ul>
      </div>
</div>